# llm配置
DEEPSEEK_MODEL=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com

# Telegram
MOSAIC_IM=
TELEGRAM_BOT_TOKEN=
OWNER_ID=

# TAVILY搜索
TAVILY_API_KEY=

# 定时扫描
MOSAIC_SCHEDULE_INTERVAL_SECONDS=10
